In [1]:
#importing the needed libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#reading the data into a dataframe
emissions = pd.read_csv("c02_emission_canada.csv")

In [5]:
#getting the first five data fro the data frame
emissions.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,8.5,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,9.6,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,5.9,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,11.1,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,10.6,244

In [6]:
#obtaining the median of the engine size in litres
np.median(emissions["Engine Size(L)"])

3.0

In [8]:
#otaiaining the average fuel comsumption of all the fuel types
emissions.groupby(["Fuel Type"])["Fuel Consumption Comb (L/100 km)"].mean()

Fuel Type
D     8.340000
E    17.574359
X    10.279924
Z    11.530995
Name: Fuel Consumption Comb (L/100 km), dtype: float64

In [10]:
#calculating the correlation between co2 emissions and fuel consumptions
emissions[["Fuel Consumption Comb (L/100 km)", "CO2 Emissions(g/km)"]].corr()

,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
Fuel Consumption Comb (L/100 km),1.000000,0.901594
CO2 Emissions(g/km),0.901594,1.000000

In [11]:
emissions.groupby(["Vehicle Class"])["CO2 Emissions(g/km)"].mean()
#nb mid size is smaller
#come back and check if you can reduce the output to just suv-small andd mid size

Vehicle Class
COMPACT                     217.130194
FULL-SIZE                   268.893855
MID-SIZE                    223.271468
MINICOMPACT                 238.194444
MINIVAN                     259.827586
PICKUP TRUCK - SMALL        277.235294
PICKUP TRUCK - STANDARD     303.868421
SPECIAL PURPOSE VEHICLE     233.437500
STATION WAGON - MID-SIZE    228.142857
STATION WAGON - SMALL       211.070423
SUBCOMPACT                  243.675159
SUV - SMALL                 238.955621
SUV - STANDARD              305.795238
TWO-SEATER                  268.451220
VAN - CARGO                 361.500000
VAN - PASSENGER             404.954545
Name: CO2 Emissions(g/km), dtype: float64

In [12]:
def engine_sizelt2(Engine Size(L)):
    if Engine Size(L) <= 2:
        return True
    else:
        return False

SyntaxError: invalid syntax (2429727819.py, line 1)